{% load i18n %}

<div class="d-flex justify-content-center w-100">
  <form class="search-form-container" action="{% url 'academy.category_search' %}">
        {% csrf_token %}
      <div class="input-group">

          <input
              type="text"
              class="form-control"
              name="query"
              value="{{ request.GET.query }}"
              placeholder="{% trans 'Search for courses or providers' %}"
          />

          <select class="form-control" name="category">
              <option value="">{% trans 'All Categories' %}</option>

              {% for category in categories %}
                  <option
                      value="{{ category.id }}"
                      {% if category.id|stringformat:"i" == request.GET.category %}
                            selected
                        {% endif %}
                  >
                      {{ category.name }}
                  </option>
              {% endfor %}
          </select>

          <button class="btn btn-color" type="submit">
              <i class="lni lni-search-alt text-white"></i>
          </button>

      </div>
  </form>
</div>

<style>

.search-form-container {
    width: 100%;
    max-width: 600px; 
}
</style>